Shilpa Apte

Favorites
<li>George</li>
<li>Dan</li>
<li>Someone</li>


<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="/user/profile">Profile</a></li>
			<li><a href="/buddies/map">BuddyMap</a></li>
			<li><a href="/buddies/favs" class="ui-btn-active">Favorites</a></li>
		</ul>
	</div>
</div>