Shilpa Apte

Favorites
<li>George</li>
<li>Dan</li>
<li>Someone</li>


<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><%= link_to 'Profile', :controller => "user", :action => "profile" %></li>
			<li><%= link_to 'BuddyMap', :controller => "buddies", :action => "map" %></li>
			<li><%= link_to 'Favorites', :controller => "buddies", :action => "favs", :class => "ui-btn-active" %></li>
		</ul>
	</div>
</div>