Map Here!


<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="/user/profile">Profile</a></li>
			<li><a href="/buddies/map" class="ui-btn-active">BuddyMap</a></li>
			<li><a href="/buddies/favs">Favorites</a></li>
		</ul>
	</div>
</div>