Map Here!


<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><%= link_to 'Profile', profile_user_path %></li>
			<li><%= link_to 'BuddyMap', map_buddies_path,  :class => "ui-btn-active" %></li>
			<li><%= link_to 'Favorites', favs_buddies_path %></li>
		</ul>
	</div>
</div>