Map Here!


<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><%= link_to 'Profile', :action => "profile" %></li>
			<li><%= link_to 'BuddyMap', :action => "map",  :class => "ui-btn-active" %></li>
			<li><%= link_to 'Favorites', :action => "favs" %></li>
		</ul>
	</div>
</div>