<iframe id="geoMap" frameborder="0" scrolling="no" src="" style="width:100%;height:100%;"></iframe>

<div class="navbar-test" style="position:absolute;bottom:0;">
	<div class="button"><%= link_to 'Profile', :action => "profile"%></div>
	<div class="button" id="selected"><%= link_to 'BuddyMap', :action => "map"  %></div>
	<div class="button"><%= link_to 'Favorites', :action => "favs" %></div>
</div>