<script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0Vmibc9cf9KU6gZHjUJwURq6LPTyhnRo&sensor=false">
</script>
<script>
  function initialize(position) {
    var mapOptions = {
      center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);
  }
  function geolocation_init() {
  	navigator.geolocation.getCurrentPosition(initialize);
  }
</script>

<div class="header">
	<p>StudyBuddy Map</p>
</div>

<div class="body">
	<div id="map_canvas" style="width:100%; height:100%"></div>
</div>

<div class="navbar-test">
	<div class="button"><%= link_to 'Profile', :action => "profile"%></div>
	<div class="button" id="selected"><%= link_to 'BuddyMap', :action => "map"  %></div>
	<div class="button"><%= link_to 'Favorites', :action => "favs" %></div>
</div>