
<div class="header">
	<p>Your StudyBuddy Profile</p>
</div>

<div class="body">
Classes:
<div class="class">CS147</div>
<div class="class">CS221</div>
<div class="class">CS142</div>



<div class="navbar">
	<div class="button" id="profile"><%= link_to 'Profile', :action => "profile", :class => "ui-btn-active" %></div>
	<div class="button" id="map"><%= link_to 'BuddyMap', :action => "map" %></div>
	<div class="button" id="favs"><%= link_to 'Favorites', :action => "favs" %></div>
</div>