Shilpa Apte

Classes:
<li>CS147</li>
<li>CS221</li>
<li>CS145</li>


<div data-role="footer" data-position="fixed">
	<div data-role="navbar">
		<ul>
			<li><a href="/user/profile" class="ui-btn-active">Profile</a></li>
			<li><a href="/buddies/map">BuddyMap</a></li>
			<li><a href="/buddies/favs">Favorites</a></li>
		</ul>
	</div>
</div>