
<div class="header">
	<p>Your StudyBuddy Profile</p>
</div>

<div class="body">
Classes:
<div class="class">CS147</div>
<div class="class">CS221</div>
<div class="class">CS142</div>



<div class="navbar-test">
	<div class="button" id="selected"><%= link_to 'Profile', :action => "profile" %></div>
	<div class="button"><%= link_to 'BuddyMap', :action => "map" %></div>
	<div class="button"><%= link_to 'Favorites', :action => "favs" %></div>
</div>