// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body,html {
	height:100%;
	width: 100%;
  	background: #CDCDCD;
  	font-family: 'Hammersmith One', sans-serif;
}

a {
	text-decoration:none;
}

div.notice {
    background: rgba(51,153,255,.6);
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
}

div.header {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(51,153,255)), to(rgb(0,0,204)));
	background: -moz-linear-gradient(top,rgba(51,153,255,1), rgba(0,0,204,1));
	text-shadow: rgba(0,0,0,.4) 0 2px 0;
	text-align: center;
	color: white;
	p { vertical-align: middle;}
}

div.body {
	height: 100%;
	padding: 50px 10px 50px 10px;
}

div.login {
	width: 100%;
	text-align: center;
    background: rgba(51,153,255,.6);

}

table.form {
	background: rgb(51,153,255);
	margin-left: 20%;
	margin-right: 20%;
	padding: 10px;
	margin-left:auto; 
    margin-right:auto;
	text-align:right;
}

td.center {
	text-align:center;
}

div.username {
    width: 100%;
    text-align: center;
    background: #D2691E;

}

div.class {
    width: 100%;
    text-align: left;
    background: #FF8C00;
}

div.status {
	width: 100%;
    text-align: center;
    background: white;
    font-style: italic;
}

div.statusIndex{
	width: 100%;
    text-align: right;
    background: white;
}


div.navbar-test {
	position: fixed;
    top: 93%;
    bottom: 98%;
    margin: auto;
	width: 100%;
	background-color: black;
	a {	color: white; }
}

div.button {
	border: 2px solid black;
	display: inline-block;
	height: 40px;
	text-align: center;
	vertical-align: 50%;
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(51,153,255)), to(rgb(0,0,204)));
	background: -moz-linear-gradient(top,rgba(51,153,255,1), rgba(0,0,204,1));
	text-shadow: rgba(0,0,0,.4) 0 2px 0;
	width: 32%;
}

#selected{
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255,250,250)), to(rgb(139,137,137)));
	background: -moz-linear-gradient(top,rgb(255,250,250), rgb(139,137,137));
	text-shadow: none;
	a {	color: navy; }
}
