<!DOCTYPE html>
<html>
<head>
  <title>Studybuddy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

<style type="text/css">
  html { height: 100% }
  body { height: 100%; margin: 0; padding: 0 }
  #map_canvas { height: 100% }
</style>
</head>
<body style="height:100%;" onload="geolocation_init()">
	<%= yield %>
</body>
</html>
